<body class="gray-bg">


<div class="container" style="height: 100%;">
<div style=" background: white; padding:40px 10px; min-height: 100%;">
  
  <form id="form" action="{:url('answer')}" method="post" class="form-horizontal">
  
    <input type="hidden" name="startime" value="{:time()}">
    <input type="hidden" name="id" value="{$record.id}"/>
    <h4 class="text-center"><strong>{$record.title}</strong></h4>
    <div class="h5" style="text-indent: 2em; line-height:26px;">{$record.explain}</div>
    
    <hr/>
  
    
  <div style="padding-left: 20px;">
  <volist name="question" id="row" key="key">
    
    <strong><span>{$key}. </span>{$row.question}</strong>
    <ul  class="list-group" style="margin: 0 1em 20px 0;">
      
      <volist name="row.option" id="option">
        
        <eq name="row.type" value="0">
          <li class="list-group-item" style="border: none; padding:0;">
            <div class="radio">
            <label style="font-weight: normal; font-size: 14px;">
              <input type="radio" name="answer[{$row.id}]" value="{:chr(65 + $key)}" /> {:chr(65 + $key)}. {$option}
            </label>
            </div>
          </li>
        </eq>
      
      </volist>
      
    </ul>
    
  </volist>
    </div>
  <hr/>
  
    
    <button type="submit" class="btn btn-success btn-block" style="margin:0 auto; width:auto;">{$record.status.text}</button>

    
  </form>
</div>

</div>


<script>
    
<eq name="record.status.enable" value="off">
    $('#form').find(':input').attr('disabled', 'disabled');
</eq>
  
$('#form').form({onbefore:function($form){
    

}}, function(data){
  if(data.code == 1){
      $.toastr({"positionClass": "toast-top-center",}).success('问卷保存成功,感谢您的参与!');
      $('#form').find('button[type="submit"]').prop('disabled', true);
  }else{
      $.toastr({"positionClass": "toast-top-center",}).error(data.msg);
  }

}).insert({$checked});


</script>
</body>