<body class="gray-bg" >

<div class="container-fluid page-full">
  
  <div class="full-panel">
    
    <div class="full-panel-head">
      
      <b>记录列表</b>
      <div class="full-panel-tools">
        <a data-button="create"><i class="fa fa-plus"></i>新建</a>
      </div>
    
    </div>
    
    <div class="full-panel-head">
      
      <form id="search" class="form-inline" action="" autocomplete="off" role="form">
        
        <div class="input-group">
          <div class="input-group-btn">
            
            <select class="form-control" name="_field">
              <option value="">选择(字段 )</option>
              <option value="title">标题</option>
            </select>
            
            <input placeholder="输入内容" name="_value" class="form-control">
            
            <select class="form-control" name="status">
              <option value="">选择(状态 )</option>
              <volist name="$select_status" id="text">
                <option value="{$key}">{$text}</option>
              </volist>
            </select>
            
            <select class="form-control" name="_datetime[field]">
              <option value="">选择(时间 )</option>
              <option value="startime">开始时间</option>
              <option value="endtime">结束时间</option>
              <option value="create_time">创建时间</option>
            </select>
            
            <input class="form-control" name="_datetime[start]" data-plugin="datetime" placeholder="开始时间" type="text">
            <input class="form-control" name="_datetime[end]" data-plugin="datetime" placeholder="结束时间" type="text">
            <button class="btn btn-white" type="reset"><i class="fa fa-undo"></i></button>
          
          </div>
          
          <div class="input-group-btn">
            <button class="btn btn-primary" type="submit">搜&nbsp;索</button>
          </div>
        </div>
      
      </form>
    </div>
    
    <div class="full-panel-body">
      
      <form method="post" action="">
        <table class="table table-condensed table-bordered table-striped table-hover" >
          <thead>
          <tr>
            <th class="check-all"><input data-button="checkall" type="checkbox"></th>
            <th class="w10">操作</th>
            <th>{$header.title}</th>
            <th>{$header.explain}</th>
            <th>{$header.duration}</th>
            <th>{$header.startime}</th>
            <th>{$header.endtime}</th>
            <th>{$header.status}</th>
            <th>{$header.create_time}</th>
          </tr>
          </thead>
          
          <tbody>
          
          <empty name="record">
            <tr>
              <td><input type="checkbox"></td>
              <td colspan="50">无记录</td>
            </tr>
            <else/>
            <volist name="record" id="row">
              <tr class="datarow" data-row='{"id":"{$row.id}"}'>
                <td><input name="id[]" type="checkbox" value="{$row.id}"></td>
                <td class="toolbar">
                  <a data-button="edit"><i class="fa fa-edit"></i>编辑</a>
                  <a data-button="report"><i class="fa fa-pie-chart"></i>报告</a>
                  
                  <div class="dropdown" style="display:inline; margin-left:2px;">
                    <a data-toggle="dropdown" aria-haspopup="true"aria-expanded="false"><span class="fa fa-reorder"></span></a>
                    <ul class="dropdown-menu">
                      <li><a data-button="preview"><i class="fa fa-bolt"></i> 预览</a></li>
                      <li><a data-button="switcher" data-value="on"><i class="fa fa-unlock-alt"></i> 启用</a></li>
                      <li><a data-button="switcher" data-value="off"><i class="fa fa-ban"></i> 关闭</a></li>
                      <li><a data-button="delete"><i class="fa fa-remove"></i> 删除</a></li>
                    </ul>
                  </div>
                </td>
                <td>{$row.title}</td>
                <td><input value="{$row.explain}" /></td>
                <td>{$row.duration}</td>
                <td>{$row.startime}</td>
                <td>{$row.endtime}</td>
                <td>{$row.status}</td>
                <td>{$row.create_time}</td>
              
              </tr>
            </volist>
          </empty>
          
          </tbody>
        </table>
      </form>
      
      
      <notempty name="paginator">
        <div class="row">
          <div class="col-md-4">&nbsp;&nbsp;{$paginator.info}</div>
          <div class="col-md-8"><nav>{$paginator.page}</nav></div>
        </div>
      </notempty>
    </div>
  
  </div>
  
  
  
  
  
  
  
  
</div>






<script>
    $('[data-button="checkall"]').icheck();
    $('#search').form('insert');
    
    $.plug('datetime').laydate();
    
    $('[data-button]').handle({
        
        create: function(row){
            system.open("{:url('create')}", '新建记录', true);
        },
        
        edit: function(row){
            system.open("{:url('edit')}?id=" + row.id, '编辑记录', true);
        },
        
        preview: function(row){
            window.open("{:url('/home/exam')}?id=" + row.id);
        },
        report: function(row){
    
            system.open("{:url('report')}?id=" + row.id, '问卷报告', true);
        },
        delete: function(row){
            if(!confirm('确定删除')) return false;
            $.get("{:url('delete')}", {id: row.id}, function(data){
                if(data.code != 1) $.toastr().error(data.msg);
                location.reload();
            });
        },
        
        switcher: function(row, $element){
            var value =  $element.attr('data-value');
            $.get("{:url('switcher')}", {id: row.id, value: value}, function(data){
                if(data.code != 1) $.toastr().error(data.msg);
                location.reload();
            });
        }
        
        
    });

</script>
</body>