<script src="__STATIC__/plugins/highcharts/code/highcharts.js"></script>
<body class="gray-bg">


<div style="background: white; padding:40px; min-height: 100%;" class="clearfix">
    
  <form id="form" action="{:url('answer')}" method="post">
    
    <input type="hidden" name="startime" value="{:time()}">
    <input type="hidden" name="id" value="{$record.id}"/>
    <h4 class="text-center"><strong>{$record.title}</strong></h4>
    <div class="h5" style="text-indent: 2em; line-height:26px;">{$record.explain}</div>
    <hr/>
    
      <volist name="question" id="row" key="num">
        
            <div id="container{$num}" style=""></div>
  
            <script>
                $(function () {
                    $('#container{$num}').highcharts({
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false
                        },
                        title: {
                            text: '{$num}. {$row.question}'
                        },
                        tooltip: {
                            headerFormat: '{series.name}<br>',
                            pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
                        },
    
                        legend: {
                            enabled: true,
                            layout: 'vertical',
                            align: 'right'
           
                        },
                        
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: false
                                },
                                showInLegend: true,
                                
                            }
                        },
                        series: [{
                            type: 'pie',
                            data: {$row.pie}
                        }]
                    });
                });
              
            </script>
  
  
        <table class="table table-condensed table-bordered table-striped table-hover">
          <tr>
            <th>选项</th>
            <th>次数</th>
            <th>百分比</th>
          </tr>
          <volist name="row.option" id="option">
            <tr>
              <td>{$option.option}</td>
              <td>{$option.count}</td>
              <td>{:round($option.scale * 100, 2)}%</td>
            </tr>
    
          </volist>
        </table>
        
      </volist>
    
  </form>
  
  <hr/>
  
</div>
</body>