<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<title><notempty name="title">{$title}<else/>OA系统</notempty></title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="shortcut icon" href="__ROOT__/favicon.ico">
<link rel="stylesheet" href="__STATIC__/plugins/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="__STATIC__/css/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="__STATIC__/css/animate.min.css" >
<link rel="stylesheet" href="__STATIC__/css/layout.css">

<!-- 全局js -->
<script src="__STATIC__/plugins/jquery.min.js"></script>
<script src="__STATIC__/plugins/bootstrap/js/bootstrap.js"></script>
<script src="__STATIC__/plugins/metisMenu/metisMenu.min.js"></script>
<script src="__STATIC__/js/jquery.plug.js"></script>
<script src="__STATIC__/js/common.js"></script>
<script src="__STATIC__/js/config.js"></script>

<!-- 复选框插件 -->
<link rel="stylesheet" href="__STATIC__/plugins/icheck/skins/all.css">
<script src="__STATIC__/plugins/icheck/icheck.min.js"></script>

<!-- 日期选择器插件 -->
<script src="__STATIC__/plugins/laydate/laydate.js"></script>

<!-- 消息插件 -->
<link rel="stylesheet" href="__STATIC__/plugins/toastr/toastr.min.css">
<script src="__STATIC__/plugins/toastr/toastr.min.js"></script>

<!-- 弹窗口插件 -->
<link rel="stylesheet" href="__STATIC__/plugins/sweetalert/sweetalert.css">
<script src="__STATIC__/plugins/sweetalert/sweetalert.min.js"></script>

<!-- select 插件 -->
<link rel="stylesheet" href="__STATIC__/plugins/bootstrap-select/bootstrap-select.css">
<script src="__STATIC__/plugins/bootstrap-select/bootstrap-select.js"></script>
<script src="__STATIC__/plugins/bootstrap-select/i18n/defaults-zh_CN.js"></script>

<!-- 排序插件 -->
<script src="__STATIC__/plugins/Sortable.js"></script>

<!-- 编辑表格 -->
<script src="__STATIC__/plugins/mindmup-editabletable.js"></script>

<script src="__STATIC__/plugins/jquery.mousewheel.min.js"></script>
</head>
{__CONTENT__}

</html>


